<ion-content>
  <div id="page">
  <header class="flex-container">
  <h1>Lunch and Learn</h1>
  </header>


  <section class="main">
  <div class="image"> </div>
  
  </section>


  <section class="description">
  <div class="container">
            <article>
            <h2>DevOps Workshop</h2>
            <p>DevOps Workshops are designed to help accelerate and ensure the success of your improvement efforts. These workshops bring recognized DevOps, Service Delivery, and Automation experts into you company to provide valuable lessons learned and best practices from high performing organizations across the industry.</p>
             <h3>For only: $135!</h3>
            </article>        
  </div>

  </section>

<section class="check-box">

    <button class="btn container buy" ng-click="buyWorkshop()">Buy</button>
  </section>
  </ion-content>
