<ion-content>
  <div id="page">
  <header class="flex-container">
  <h1>Lunch and Learn</h1>
  </header>


  <section class="main">
  <div class="image"> </div>
  
  </section>


  <section class="description">
  <div class="container">
            <article>
            <h2>Description</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae rhoncus tellus. Sed sed erat ut massa convallis placerat. Etiam aliquam vestibulum lacus, in luctus neque sagittis vulputate. Suspendisse lobortis a lacus a sollicitudin. Cras molestie nisl vitae fringilla scelerisque. Sed eu lobortis diam. Curabitur varius congue nunc sit amet vestibulum. Suspendisse potenti. Suspendisse quis convallis sem. Curabitur ultrices interdum magna, a fringilla elit vestibulum vel. Fusce a dolor et eros tincidunt blandit nec et lacus.</p>
            </article>
           
  </div>

  </section>

<section class="check-box">
  <div class="check-box container"> 
<form>
  <dir>Types of Food: </dir>
  <input class="check-food" type="checkbox" > Food A<br>
  <input class="check-food" type="checkbox" > Food B<br>
</form>
  

  </div>

  <div>
    <a href="" class="btn container buy">Buy</a>
  </div>
  </section>

   <section title=".roundedOne">
    <!-- .roundedOne -->
    <div class="roundedOne">
      <input type="checkbox" value="None" id="roundedOne" name="check" checked />
      <label for="roundedOne"></label>
    </div>
    <!-- end .roundedOne -->
  </section>
  </ion-content>
