<ion-content>
  <div id="page">
  <header class="flex-container">
  <h1>Lunch and Learn</h1>
  </header>


  <section class="main">
  <div class="image"> </div>
  
  </section>


  <section class="description">
  <div class="container">
            <article>
            <h2>DevOps Workshop</h2>
            <p>DevOps Workshops are designed to help accelerate and ensure the success of your improvement efforts. These workshops bring recognized DevOps, Service Delivery, and Automation experts into you company to provide valuable lessons learned and best practices from high performing organizations across the industry.</p>
            </article>        
  </div>

  </section>

<section class="check-box">
  <div class="check-box container"> 
<form>
  <dir>Types of Food: </dir>
  <input class="check-food" type="checkbox" > Mexican food<br>
  <input class="check-food" type="checkbox" > Mexican and Vegan<br>
</form>
  

  </div>

  <div>
    <a href="" class="btn container buy">Buy</a>
  </div>
  </section>

   <section title=".roundedOne">
    <!-- .roundedOne -->
    <div class="roundedOne">
      <input type="checkbox" value="None" id="roundedOne" name="check" checked />
      <label for="roundedOne"></label>
    </div>
    <!-- end .roundedOne -->
  </section>
  </ion-content>
